.container1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24rem;
    background: linear-gradient(69.5deg, rgb(60, 138, 151) 2.3%, rgb(10, 202, 228) 97.6%);
    margin-bottom: 3rem;
    margin-top: -1rem;
}



.cashback-banner{
    outline: solid 2px rgb(22, 106, 117);
    margin-right: 5%;
    margin-left: 5%;
    width: 21rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.493);
    box-shadow: 1.4rem 1.4rem 1rem 0rem rgba(25, 129, 89, 0.616);
}

.cashback-banner-head{
    font-size: 2.2rem;
    font-weight: 600;
    color: rgb(15, 14, 14);
    text-align: center;
    object-fit: cover;
}

.cashback-banner-description{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(97, 73, 73, 0.788);
    text-align: center;
    object-fit: cover;
}

.cashback-banner-btn{
    margin-top: 5%;
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: rgb(39, 151, 123);
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 568px) {
    .container1{
        display: flex;
        flex-direction: column;
        height: 46rem;
        margin-top: 4rem;
    }
    .cashback-banner{
        margin-top: 5%;
        margin-top: 5%;
    }
}