.review-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}
.review-card-img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}
.review-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.review-card-info{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width:70%;
    border-radius: 1rem;
    box-sizing: border-box;
}

.review-card .review-info {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 1rem;
}

.actual-review {
    display: flex;
    width: 96%;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
   overflow-x: scroll;

   scrollbar-width: thin; 
    scrollbar-color: #3498db #f1f1f1;

    &::-webkit-scrollbar-thumb {
        background-color: #3498db; 
        border-radius: 5px; 
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f100; 
        height: 5px;
    }
}
