.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  height: 26rem;
  width: 22rem;
  border-radius: 1rem;
}

.login-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.login-form button {
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #0056b3;
}

.toggle-button {
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  color: #007bff;
}
