.brand{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
}

.brand .brand-cards{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10rem;
    margin: 1rem;
    flex-wrap: wrap;
}

.brand-container{
    display: flex;
    margin-left: 4rem;
    justify-content: center;
    align-items: center;
}

.brand-text{
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-weight: bold;
    font-family:  sans-serif;
}

@media screen and (max-width: 768px) {
    .brand-container{
        margin-left: 1rem;
    }
    .brand{
        height: 20rem;
        
    }
}
@media screen and (max-width: 368px) {
    .brand-container{
        margin-left: 0rem;
    }
    .brand{
        height: 20rem;
        
    }
}